.progress-bar{
  height: 14px;
  background-color: gray;
  width: 234px;
  border:2px solid gray;
  border-radius: 12px;
}
.progress{
	width: 200px
	height:30px;
	border:0px solid gray;
  border-radius: 19px;
  /*float: right;*/
  margin-left: 474px;
  margin-right: 274px;

}
.progress1-bar{
  height: 4px;
  background-color: orange;
  width: 134px;
  border:2px solid orange;
  border-radius: 12px;
}

.progress3-bar{
  height: 4px;
  background-color: blue;
  width: 134px;
  border:2px solid blue;
  border-radius: 12px;
}


