.request{
border:2px solid gray;
padding: 19px; 
width: 350px; 
height: 500px; 
margin-top: -62px;
border-radius: 20px
}
.p1{
	color: gray;
	line-height: 2px;
}
.p3{
	color: gray;
	line-height: 2px;
}
.replace{
	background-color: red;
	color: white
}
.dd{
   width: 400px	
}



/*---------------------model         ---------------------         */




